<h1><%= @post.title %>

<div><h6><%= @post.body %></h6></div>

<h3><%= link_to  "Edit Post", edit_post_path(@post) %><h3>
<h3><%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
